/* Estilos base */
body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    justify-content: center;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    color: #424549;
}

/* Estilos del botón de cambio de tema */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.theme-toggle button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.theme-toggle img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.theme-toggle button:hover img {
    transform: scale(1.1);
}

/* Estilos del contenedor principal */
.container {
    display: flex;
    width: 100%;
}

/* Estilos del sidebar */
.sidebar {
    background-color: #002582;
    color: rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s, color 0.2s;
}

.sidebar ul li a:hover {
    transform: scale(1.2);
    color: #000000; /* Cambiar color al hacer zoom */
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Estilos del contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 270px;
    background-color: rgb(255, 255, 255);
}

.main-content section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    margin-left: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
    font-size: 2.5em;
    color: #002582;
    margin-bottom: 20px;
}

.main-content h2,
.main-content h3 {
    color: #002582;
}

.main-content p {
    color: #424549;
    text-align: center;
}

.dates {
    font-style: italic;
    color: #555;
}

.social-links img {
    width: 30px;
    margin: 0 10px;
}

.habilidades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.habilidad-icono {
    width: 50px;
    margin: 10px;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.habilidad-icono:hover {
    filter: grayscale(0%);
}

/* Estilos para la lista de cursos */
.course-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.course-list li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: #333;
}

.course-list li img.trophy-icon {
    width: 20px;
    margin-right: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.skills img {
    width: 50px;
    height: 50px;
}

.skills-message {
    background-color: #e7eff7;
    border-left: 4px solid #002f6c;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    max-width: 800px;
    margin: 20px auto 0;
    text-align: center;
}

.skills-message p {
    margin: 0;
   
}

.skills-message strong {
    color: #002f6c;
}

/* Modo Oscuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #d4d4d4;
}

body.dark-mode .sidebar {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .sidebar ul li a {
    color: #ffffff;
}

body.dark-mode .sidebar ul li a:hover {
    color: #cccccc;
}

body.dark-mode .main-content {
    background-color: #2b2b2b;
}
body.dark-mode {
    color: #fff; /* o cualquier otro color que desees para el texto normal */
  }

body.dark-mode .main-content p {
    color: #fff; /* o cualquier otro color que desees para el texto normal */
  }

  body.dark-mode .main-content li {
    color: #fff; /* o cualquier otro color que desees para el texto normal */
  }

body.dark-mode .main-content h1, 
body.dark-mode .main-content h2, 
body.dark-mode .main-content h3 {
    color: #f0f0f0;
}

body.dark-mode .dates {
    color: #bbbbbb;
}

body.dark-mode .habilidad-icono {
    filter: brightness(0.8) grayscale(100%);
}

body.dark-mode .habilidad-icono:hover {
    filter: brightness(1) grayscale(0%);
}

body.dark-mode .skills-message {
    background-color: #333; /* o cualquier otro color que desees para el fondo */
    border-left-color: #e07101; /* o cualquier otro color que desees para el borde */
    color: #fff; /* o cualquier otro color que desees para el texto */
  }

body.dark-mode .skills-message strong {
    color: #f0f0f0;
}

/* Medios responsivos */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        transform: none;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .sidebar ul li {
        margin: 10px;
    }

    .main-content {
        margin-left: 0;
        padding: 20px;
    }

    .main-content section {
        padding: 20px;
        margin: 20px 0;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .social-links img {
        width: 25px;
    }

    .habilidad-icono {
        width: 30px;
        margin: 5px;
    }

    .course-list li {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .sidebar {
        flex-direction: column;
        align-items: center;
    }

    .sidebar ul li {
        margin: 5px 0;
    }

    .habilidad-icono {
        width: 20px;
        margin: 3px;
    }

    .course-list li {
        font-size: 0.9em;
    }

    /* Ocultar el sidebar en móviles */
    .sidebar {
        display: none;
    }
}
